#title{

}
img{
   
}
main{
    background-color: red;
}
ins tr th form{
    background-image: url("resources/TU.jpg");
    background-color: yellow;
}
footer{background-color: red;
text-align: center;}