main{
    background-color: red;
}
form{
    background-color: yellow;
    margin-top: -21px;
}
h1{background-color: red;
width: 50%;
text-align: center;
}
footer{background-color: red;
text-align: center;}
.inform tr th form{
    width: 50px;

}